.DS_Store
.vercel

node_modules/
webapp/node_modules/

.next/
webapp/.next/

.env
.env.*
!.env.example
webapp/.env.local
webapp/.env.production.local
webapp/.env.development.local
webapp/.env.test.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
